---
name: Publish

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  actions: read

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
    - name: Determine tags
      id: tags
      env:
        BRANCH: ${{ github.ref_name }}
        SHA: ${{ github.sha }}
      run: |
        export TAGS="$BRANCH;$BRANCH-${SHA:0:7}"

        if [ "$BRANCH" = "main" ]; then
          export TAGS="$TAGS;latest"
        fi

        echo "tags=$TAGS" >>$GITHUB_OUTPUT
    outputs:
      tags: ${{ steps.tags.outputs.tags }}

  build:
    name: Build
    uses: freedomofpress/actionslib/.github/workflows/oci-build.yaml@main
    needs:
    - prepare
    permissions:
      contents: read
      actions: read
      packages: write
    with:
      containerfile: Dockerfile
      tags: ${{ needs.prepare.outputs.tags }}
      registry: ghcr.io/freedomofpress/felidae
